body {
    color: white;
    background-image: url(bg.jpg);
    font-family: "Lucida Console", "Courier New", monospace;
}
div.cube {
    position: absolute;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: lightblue;
}
  div.saturn {
      position:fixed;
      top: 50px;
      right: 100px;
  }
  div.mercury {
    position:fixed;
    bottom: 220px;
    left: 80px;
}
div.venus {
    position:fixed;
    top: 320px;
    left: 200px;
}
div.mars {
    position: fixed;
    top: 420px;
    right: 120px;
}
div.jupiter {
    position:fixed;
    top: 520px;
    left: 440px;
}
div.uranus {
    position:fixed;
    bottom: 320px;
    right: 560px;
}
div.neptune {
    position:fixed;
    top: 620px;
    right: 380px;
}
div.pluto {
    position:fixed;
    bottom: 70px;
    right: 70px;
}

